@{
    ViewData["Title"] = "Apagar o contatos";
}
<Div class="text-center">
    <h3>DESEJA REALMENTE APAGAR O CONTATO()?</h3>
</Div>
    <a class="btn btn-primary btn-block" asp-controller="Contato" asp-action="Index" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" asp-asp-controller="Contato" asp-action="Apagar" role="button">Confirmar exclusão</a>